@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#header{
  width: 100%;
  height: 85px;
  background-color: rgba(0, 0, 0, 0.6);
}
.navbar{
  width: 95%;
  height: 85px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
h2{
  font-size: 2.5em;
  line-height: 85px;
  font-family: 'Acme', sans-serif;
  color: rgba(0, 255, 0, 0.9);
}
.navbar ul{
  display: flex;
}
.navbar ul li{
  list-style: none;
}
.navbar ul li a{
  text-decoration: none;
  color: rgba(0, 255, 0, 0.9);
  font-size: 1em;
  line-height: 85px;
  margin: 0 20px;
  font-weight: 500;
}
.navbar ul li a:hover{
  color: rgba(0, 255, 0, 0.6);
}

@media screen and (max-width: 700px){
  h2{
    width: 100%;
    font-size: 1.9em;
    text-align: center;
  }
  .navbar ul{
    display: none;
  }
}

/*** Menu section ***/

.birthday-cake{
  width: 100vw;
  height: auto;
}
.b-cake-headline{
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.b-cake-headline > h1{
  font-size: 2em;
  padding: 0 5px;
  color: crimson;
  border-left: 7px solid crimson;
}
.b-cake-headline > a{
  text-decoration: none;
  font-size: 1.3em;
  color: black;
  color: crimson;
  font-weight: 500;
}
.b-cake-headline > a:hover{
  color: blue;
}
.inner-birthday-cake-div{
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.b-cake{
  padding: 0 0 20px 0;
}
.inner-b-cake{
  background-color: rgba(240,128,128, 0.6);
  display: grid;
  padding: 10px;
  border-radius: 5px;
  grid-template-columns: 120px 1fr;
  transition: 0.3s;
}
.inner-b-cake:hover{
  box-shadow: 0 0 20px 0 rgba(240,128,128, 0.5);
}
.head-price{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  padding-bottom: 15px;
  justify-content: space-between;
}
.head-price > a{
  width: 85%;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.4em;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  transition: 0.2s;
}
.head-price > a:hover{
  color: blue;
}
.head-price > p{
  font-weight: 600;
}
#menu-one .inner-b-cake-pic{
  width: 100px;
  height: 100px;
}
#menu-one .inner-b-cake-pic img{
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 700px){
  .b-cake-headline > h1{
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .b-cake{
    padding: 3px 0;
  }
  .b-cake-headline > a{
    font-size: 0.8em;
  }
  .head-price > a{
    width: 60%;
  }
  .inner-birthday-cake-div{
    grid-template-columns: 1fr;
  }
  #menu-one .inner-b-cake-pic{
    width: 50px;
    height: 50px;
  }
  .inner-b-cake{
    background-color: rgba(240,128,128, 0.6);
    display: grid;
    padding: 5px;
    grid-template-columns: 60px 1fr;
  }
  .head-price > a{
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8em;
  }
  .head-description > p{
    display: none;
  }
}

/*** Menu two styles ***/
#menu-two .inner-b-cake-pic{
  width: 100px;
  height: 100px;
}
#menu-two .inner-b-cake-pic img{
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 700px){
  #menu-two .inner-b-cake-pic{
    width: 50px;
    height: 50px;
  }
}

/*** Menu three styles ***/
#menu-three .inner-b-cake-pic{
  width: 100px;
  height: 100px;
}
#menu-three .inner-b-cake-pic img{
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 700px){
  #menu-three .inner-b-cake-pic{
    width: 50px;
    height: 50px;
  }
}

/*** Footer styles ***/
.footer-up{
  display: none;
}
.footer-down > h1{
  text-align: center;
  font-size: 1.5em;
  padding: 20px 0;
}
.social-media-links{
  text-align: center;
}
.social-media-links a{
  display: inline-block;
  text-decoration: none;
  padding-bottom: 20px;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.7);
}
.social-media-links a:hover{
  color: lime;
}
.social-media-links span{
  display: inline-block;
  font-size: 1.2em;
}
hr{
  width: 90%;
  margin: auto;
  color: rgba(0, 0, 0, 0.7);
}
.copyright{
  padding: 20px;
}
.copyright p{
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 700px){
  #footer h1{
    font-size: 1em;
  }
  .footer-up{
    display: block;
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 20px 0;
  }
  .footer-up ul{
    padding-top: 20px;
  }
  .footer-up ul li{
    padding: 5px;
    list-style: none;
  }
  .footer-up ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
  }
  .footer-up ul li a:hover{
    color: blue;
  }
  .social-media-links a{
    display: block;
    font-size: 1em;
  }
  .social-media-links span{
    display: none;
  }
}
